.dark-mode {
    background-color: black;
    color: aliceblue;
}

button {
    margin-top: 10px;
    background-color: darkgray;
    color: aliceblue;
    width: 100px;
}
section {
    max-width: 500px;
    margin: 50px auto;
    background-color: grey;
    border-radius: 30%;
    color: aliceblue;
}

form {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

input {
    margin-bottom: 15px;
}
body {
    transition: background-color 1.0s, color 1.0s;
}